/* Themes */

$backgrnd: rgb(180, 201, 209);

$face:  #202b2a;

$heel:  #161e1d;

$altclr: #0b0e0d;;

$regclr: #001854;

$atgrey: #adadad;

$textclr: #666666;

$menu-bg: rgb(6, 95, 175);

$primarytxt: #fff;

/* SY Page Specific Themes */

$symain: #c27809;

$syaccent: #fff;

$syalt: #f79903;

$syaccalt: rgb(200, 200, 200);

$theme5: rgb(204, 133, 240);

$theme6: rgb(50, 228, 166);

$theme7: rgb(224, 233, 50);


/* Fonts */

$default-fonts: "Roboto","Roboto Slab","Arial", san-serif;

/* Nav */

$navheight: 80px;

$synavheight: 120px;
